body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (min-width: 1910px) {
  .container {
    width: 1620px;
  }
}
.feedback-page .profile-top {
  padding-top: 16px;
}
.feedback-page .profile-top img,
.feedback-page .profile-top p {
  display: inline-block;
}
.feedback-page .profile-top a {
  color: #fffffb;
  font-size: 1.1875rem;
}
.feedback-page .profile-top img {
  border-radius: 50%;
  border: 7px solid #d7d7d7;
  width: 65px;
  height: 65px;
  margin-right: 15px;
}
