body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (min-width: 1910px) {
  .container {
    width: 1620px;
  }
}
.video-post .head {
  margin: 0;
  font-size: 2.5rem;
  color: #585858;
  margin-bottom: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
}
.video-post .file-upload {
  margin-bottom: 2.3125rem;
}
.video-post .file-upload input {
  display: none;
}
.video-post .file-upload label {
  border: 0.1875rem solid #b1afaf;
  display: block;
  padding: 1.25rem;
  border-radius: 0.625rem;
  cursor: pointer;
  font-size: 1.5625rem;
  color: #585858;
}
.video-post .progress {
  height: 4.5rem;
  background: #e1e1e1;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.video-post .progress .progress-bar {
  background: #f75c73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4375rem;
  padding: 0 2.1875rem;
  text-transform: uppercase;
}
.video-post .submit button {
  width: 100%;
  border: none;
  background: #f03c57;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  height: 4.5rem;
  margin-bottom: 1.5625rem;
}
.video-post .submit a {
  color: #9c9c9c;
  font-size: 1.375rem;
}
.video-post .heading h3 {
  margin: 0;
  font-size: 1.375rem;
  color: #8b8b8b;
  border-bottom: 2px solid #c8c8c8;
  padding-bottom: 1.5625rem;
  position: relative;
  margin-bottom: 2.8125rem;
}
.video-post .heading h3:after {
  content: "";
  width: 14.8125rem;
  height: 0.4375rem;
  background: #f75c73;
  position: absolute;
  left: 0;
  bottom: 0;
}
.video-post .add-video-form input,
.video-post .add-video-form textarea {
  width: 100%;
  height: 3.4375rem;
  background: none;
  border: 2px solid #c8c8c8;
  padding: 15px;
  color: #9c9c9c;
  font-size: 1.125rem;
  margin-bottom: 1.5625rem;
  border-radius: 4px;
}
.video-post .add-video-form textarea {
  height: 170px;
}
.video-post .add-video-form .bootstrap-tagsinput {
  width: 100%;
  padding: 0 15px;
  margin-top: 1.5625rem;
}
.video-post .add-video-form .bootstrap-tagsinput input {
  margin: 0;
  border: none;
  padding: 15px 0;
}
.video-post .add-video-form .select-bg {
  height: 3.625rem;
  background: #f75c73;
  color: #fff;
  font-size: 1.125rem;
  padding-left: 4.0625rem;
  font-weight: 600;
}
.video-post .add-video-form .select-bg:before {
  content: "\f02c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 1.25rem;
  font-size: 1.75rem;
}
.video-post .add-video-form .select-bg:hover, .video-post .add-video-form .select-bg:focus {
  color: #fff;
}
.video-post .add-video-form .bootstrap-select.btn-group .dropdown-menu {
  background: #f1f1f1;
}
.video-post .add-video-form .dropdown-menu > li > a {
  font-size: 1.1875rem;
  color: #9c9c9c;
}

@media (max-width: 1199px) {
  html {
    font-size: 60%;
  }
}
